<h1>Add a product</h1>

<!-- <%= form_for @product do |f| %>

  Name:
  <%= f.text_field :name %><br>

  Description:
  <%= f.text_area :description %><br>

  Price:
  <%= f.text_field :price_in_cents %><br>
  <%= f.submit "Create" %>

<% end %> -->

<%= render "form" %>
